<table cellpadding="5" cellspacing="0" border="2">
	<f:for each="{listData}" as="data" key="table">
		<div id="typo3-docheader">
			<div class="typo3-docheader-buttons">
				<b><f:translate key="mlang_labels_tableName" />:{table}</b>
			</div>
		</div>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th valign="top"><strong><f:translate
								key="mlang_labels_tablePageId" /></strong></th>
					<th><span
						style="width: 10px; height: 1px; display: inline-block"></span></th>
					<th valign="top"><strong><f:translate
								key="mlang_labels_tableContentId" /></strong></th>
					<th><span
						style="width: 10px; height: 1px; display: inline-block"></span></th>
					<th valign="top" colspan="2"><strong><f:translate
								key="mlang_labels_tableModifiedDate" /></strong></th>
					<th><span
						style="width: 10px; height: 1px; display: inline-block"></span></th>
					<th valign="top" colspan="2"><strong><f:translate
								key="mlang_labels_tableCreateDate" /></strong></th>
					<th valign="top" colspan="2"><span
						style="width: 10px; height: 1px; display: inline-block"></span></th>
					<th><span
						style="width: 10px; height: 1px; display: inline-block"></span></th>
				</tr>
			</thead>
			<tbody>

				<f:if condition="{data}">
					<f:then>
						<f:for each="{data}" as="content" key="entry">
							<tr>
								<th valign="top"><strong> <f:if
											condition="{content.pid}">
											<f:then>
												{content.pid}
											</f:then>
											<f:else>
												<f:translate key="mlang_labels_tableNoData" />
											</f:else>
										</f:if>


								</strong></th>
								<th><span
									style="width: 10px; height: 1px; display: inline-block"></span></th>
								<th valign="top"><strong> <f:if
											condition="{content.uid}">
											<f:then>
												{content.uid}
											</f:then>
											<f:else>
												<f:translate key="mlang_labels_tableNoData" />
											</f:else>
										</f:if>
								</strong></th>
								<th><span
									style="width: 10px; height: 1px; display: inline-block"></span></th>
								<th valign="top" colspan="2"><strong> <f:if
											condition="{content.rangetstamp}">
											<f:format.date format="d.m.Y-H:i:s">@{content.rangetstamp}</f:format.date>
										</f:if>
								</strong></th>
								<th><span
									style="width: 10px; height: 1px; display: inline-block"></span></th>
								<th valign="top" colspan="2"><strong> <f:if
											condition="{content.rangemodification_date}">
											<f:then>
												<f:format.date format="d.m.Y-H:i:s">@{content.rangemodification_date}</f:format.date>
											</f:then>
											<f:else>

												<f:if condition="{content.rangecrdate}">
													<f:then>
														<f:format.date format="d.m.Y-H:i:s">@{content.rangecrdate}</f:format.date>
													</f:then>
													<f:else>
														<f:translate key="mlang_labels_tableNoData" />
													</f:else>
												</f:if>
											</f:else>
										</f:if></strong></th>
								<th valign="top" colspan="2"><span
									style="width: 10px; height: 1px; display: inline-block"></span></th>
								<th valign="top" colspan="2"><span
									style="width: 10px; height: 1px; display: inline-block"></span></th>
							</tr>
						</f:for>
					</f:then>
					<f:else>
						<tr>
							<th valign="top"><strong></strong></th>
							<th><span
								style="width: 10px; height: 1px; display: inline-block"></span></th>
							<th valign="top"><strong></strong></th>
							<th><span
								style="width: 10px; height: 1px; display: inline-block"></span></th>
							<th valign="top"><strong><f:translate
										key="mlang_labels_tableNoContent" /></strong></th>
							<th><span
								style="width: 10px; height: 1px; display: inline-block"></span></th>
							<th valign="top" colspan="2"><strong></strong></th>
							<th><span
								style="width: 10px; height: 1px; display: inline-block"></span></th>
							<th valign="top" colspan="2"><strong></strong></th>
							<th><span
								style="width: 10px; height: 1px; display: inline-block"></span></th>
						</tr>
					</f:else>
				</f:if>

			</tbody>
		</table>
	</f:for>
